<ion-header [translucent]="true">
  <ion-toolbar *ngIf="!isSearch">
    <ion-title>Listado Clientes</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="clickSearch()">
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cliente-form">
        <ion-icon slot="end" name="add"></ion-icon>
        Añadir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="isSearch">
    <ion-searchbar
      show-cancel-button="always"
      show-clear-button="always"
      (ionClear)="clearSearch()"
      (ionCancel)="clearSearch()"
      (ionChange)="buscarSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row *ngFor="let cliente of clientes">
      <ion-col size="8"><p> {{cliente.nombre_apellido}} </p></ion-col>
      <ion-col size="2">
        <ion-button color="danger" (click)="deleteCliente(cliente.id)" >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="warning" routerLink="/cliente-form/{{cliente.id}}">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
